<h2><%= @round.prompt %></h2>

<%= form_for @round, method: :put do |f| %>

  <%= text_field_tag "answers[]" %>
  <%= text_field_tag "answers[]" %>
  <%= text_field_tag "answers[]" %>
  <%= text_field_tag "answers[]" %>
  <%= text_field_tag "answers[]" %>
  <%= f.submit %>
<% end %>
