<h2><%= @round.prompt %></h2>

<% if @round.complete? %>
  <h3>Congrats, this round is done!</h3>
  <div>
    <% if @room.queued_rounds.any? %>
    <% else %>
      <%= render partial: "select_round" %>
    <% end %>

  </div>
<% else %>
  <%= form_tag round_guesses_path(@round) do %>
    <label for="guess">Enter your guess</label>
    <%= text_field_tag "guess" %>
    <%= submit_tag %>
  <% end %>
<% end %>

<% @round.answers.order(order: :asc).each do |answer| %>
  <% if answer.guessed %>
    <p><%= answer.order %> <%= answer.body %></p>
  <% else %>
    <p><%= answer.order %> ???????</p>
  <% end %>
<% end %>
